{% trans_default_domain('materials-sign.admin') %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-primary">
        <div class="modal-header align-items-center">

            <h5 class="modal-title">
                {# Заголовок модального окна #}
                {{ 'page.pdf'|trans }}:
            </h5>


            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" title="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="modal-body" id="modal-body">

            <div class="w-100">
                {{ form_row(form.profile, {
                    label: 'Владелец',
                    placeholder: 'Выберите владельца "Честного знака" из списка', attr: { 'data-select' : 'select2' }
                }) }}
            </div>

            <div class="clearfix mb-0 d-flex gap-3 align-items-center">
                <div class="w-75">
                    {{ form_row(form.number, {
                        label: false, attr: { placeholder : 'Номер грузовой таможенной декларации (ГТД)' }
                    }) }}
                </div>
                <div class="w-50">
                    <div class="d-flex radio-buttons mb-3" data-buttons="true">
                        <label class="btn p-0 border-dotted rounded-3 active">
                            <span class="d-flex align-items-center">
                                <span class="flex-grow-1">
                                <span class="h6">
                                    <span class="form-check px-3 d-flex align-items-start">
                                        {{ form_widget(form.share, { label: false }) }}
                                        <span style="margin-top: 2px;">
                                            {# {{ 'admin.form.label.active'|trans }} #}
                                            Доступен только владелцу
                                        </span>
                                    </span>
                                </span>
                                </span>
                            </span>
                        </label>
                    </div>

                </div>
            </div>

            {# Табы #}
            <ul class="nav nav-pills gap-3 mb-3 mt-3" id="nav-materials-sign">
                <li class="nav-item" role="presentation">
                    <button class="btn fw-bolder nav-link active"
                            data-bs-toggle="tab"
                            type="button"
                            role="tab"
                            aria-selected="true"

                            id="tab_files-tab"
                            data-bs-target="#tab_files"
                            aria-controls="nav-materials-sign"
                    >
                        <small class="text-uppercase px-3">
                            Загрузка файлов
                        </small>
                    </button>
                </li>


                <li class="nav-item">
                    <button class="btn fw-bolder nav-link"
                            data-bs-toggle="tab"
                            type="button"
                            role="tab"
                            aria-selected="true"

                            id="tab_links-tab"
                            data-bs-target="#tab_links"
                            aria-controls="nav-materials-sign"
                    >
                        <small class="text-uppercase px-3">
                            Добавление ссылок
                        </small>
                    </button>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_files" role="tabpanel">
                    <div class="clearfix d-flex gap-3 align-items-center my-3">
                        <strong class="text-nowrap">Файлы PDF с честными знаками (на каждом листе - один знак)</strong>
                        <div class="w-100">
                            <hr class="m-0">
                        </div>
                    </div>


                    <div class="card-body pb-0" id='{{ form.files.vars.id }}-collection'>

                        {% for file in form.files %}

                            <div class='d-flex align-items-center gap-3 mb-3'>

                                <div class="input-group w-100">

                                    {{ form_widget(file.pdf) }}

                                    <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd"
                                        d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5ZM1.6 11.85H0v3.999h.791v-1.342h.803c.287 0 .531-.057.732-.173.203-.117.358-.275.463-.474a1.42 1.42 0 0 0 .161-.677c0-.25-.053-.476-.158-.677a1.176 1.176 0 0 0-.46-.477c-.2-.12-.443-.179-.732-.179Zm.545 1.333a.795.795 0 0 1-.085.38.574.574 0 0 1-.238.241.794.794 0 0 1-.375.082H.788V12.48h.66c.218 0 .389.06.512.181.123.122.185.296.185.522Zm1.217-1.333v3.999h1.46c.401 0 .734-.08.998-.237a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.589-.68c-.264-.156-.599-.234-1.005-.234H3.362Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.14 1.14 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082h-.563v-2.707Zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638H7.896Z"/>
                                </svg>
                            </span>

                                </div>
                            </div>

                        {% endfor %}

                    </div>

                    <button type="button"
                            class="btn btn-sm btn-outline-primary border-0"
                            id="pdf-add-collection"
                            data-prototype="{{ include(_self|replace({ "content.html.twig": "_pdf.prototype.html.twig" }) )|e('html_attr') }}"
                            data-collection="{{ form.files.vars.id }}-collection"
                            data-index="{{ form.files.count }}"

                    >
						<span class="svg-icon svg-icon-2">
							<svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none">
								<rect opacity="0.5"
                                      x="11"
                                      y="18"
                                      width="12"
                                      height="2"
                                      rx="1"
                                      transform="rotate(-90 11 18)"
                                      fill="currentColor">
							</rect>
								<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"></rect>
							</svg>
						</span>
                        Добавить еще файл
                    </button>
                </div>

                <div class="tab-pane fade show" id="tab_links" role="tabpanel">
                    <div class="d-flex gap-3 align-items-center my-3">
                        <strong class="text-nowrap">
                            Ссылки на скачивание PDF-файлов с QR-кодами (каждая ссылка должна начинаться с отдельной
                            строки)
                        </strong>
                        <div class="w-100">
                            <hr class="m-0">
                        </div>
                    </div>

                    <div class="d-flex gap-3 align-items-center my-3 pb-0">
                        {{ form_widget(form.links) }}
                    </div>
                </div>
            </div>


            <div class="d-flex gap-3 align-items-center my-3">
                <strong class="text-nowrap">Продукция, к которой относятся честные знаки в PDF</strong>
                <div class="w-100">
                    <hr class="m-0">
                </div>
            </div>


            <div class="d-flex gap-3 clearfix">

                <div class="w-100">
                    {{ form_row(form.category, {
                        label: 'Категория',
                        placeholder: 'Выберите категорию из списка...',
                        attr: { 'data-select' : 'select2' } }) }}
                </div>


                <div class="w-100 {{ form.material.vars.data ?: 'd-none' }}" id="material">
                    {{ form_row(form.material, {
                        label: 'Продукт',
                        placeholder: 'Выберите продукцию из списка...',
                        attr: { 'data-select' : 'select2' }
                    }) }}
                </div>

                <div id="offer" class="w-100 {{ form.offer.vars.data ?: 'd-none' }}">
                    {{ form_row(form.offer) }}
                </div>

                <div id="variation" class="w-100 {{ form.variation.vars.data ?: 'd-none' }}">
                    {{ form_row(form.variation) }}
                </div>

                <div id="modification" class="w-100 {{ form.modification.vars.data ?: 'd-none' }}">
                    <div>{{ form_row(form.modification) }}</div>
                </div>

            </div>

            <div class="flex-grow-1">
                <div class="d-flex radio-buttons" data-buttons="true">
                    <label class="btn p-3 border-dotted rounded-3">
                        <span class="d-flex align-items-center">
                            <span class="flex-grow-1">
                                <span class="h6">
                                    <span class="form-check px-3 d-flex align-items-center">
                                        {{ form_widget(form.isNew, { label: false }) }}
                                        <span>
                                            Добавить честные знаки для нового сырья (без проверки GTIN в карточке)
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </label>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <div class="flex-grow-1">
                <div class="d-flex radio-buttons" data-buttons="true">
                    <label class="btn p-3 border-dotted rounded-3">
                        <span class="d-flex align-items-center">
                            <span class="flex-grow-1">
                                <span class="h6">
                                    <span class="form-check px-3 d-flex align-items-center">
                                        {{ form_widget(form.purchase, { label: false }) }}
                                        <span>
                                            Создать лист закупки сырья
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="d-flex gap-3">
                {# Отмена #}

                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>

                {# Удалить #}
                {{ form_widget(form.material_sign_pdf, { label: '
				<span>'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			'}) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>


